


.First-Page {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border-radius: 30px;
    background-color: var(--Dark-Blue);
    padding: 30px;
}

.Img-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(216, 12%, 54%, 10%);
}

.Text-Container {
    margin-top: 15px;
    padding: 0 5px;
}

.Text-Container h1 {
    font-size: 25px;
    font-weight: 400;
}

.Text-Container p {
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: var(--Medium-Grey);
    margin-top: 8px;
}

.List-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}

.Button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

}


.Button-Redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 5px;
    color: var(--White);
    background-color: var(--Orange);
    height: 40px;
    width: 90%;
    border-radius: 20px;
    border: 0;
    font-weight: 700;
}

.Button-Redirect:hover{
    background-color:var(--White);
    color: var(--Orange);
}
