html {
    height: 100vh;
    width: 100%;
}

body {
    background-color: var(--Very-Dark-Blue);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
}
